{% extends 'layout.twig' %}

{% block body %}
  <script>
	var publicIp = '{{publicIp}}'
	clientIp = '{{clientIp}}',
	publicIpInfo = JSON.parse('{{publicIpInfo}}'),
	clientIpInfo = JSON.parse('{{clientIpInfo}}');
  </script>
  <div id="pageTitle">{{stats.complete.qty}} Active Tunnels</div>
  <div id="layout" style="width: 100%; height: 1060px;"></div>

  <div id="vpnTableWrapper">
   <div id="toolbar" style="padding: 4px; border: 1px solid #dfdfdf; border-radius: 3px"></div>
   <table id="vpnEndpoints" class="display" style="width:100%">
    <thead><tr>
	    <th>Country</th>
	    <th></th>
	    <th>City</th>
	    <th>Speed</th>
	    <th>IP</th>
	    <th>Protocol</th>
	    <th>Test Duration</th>
    </tr></thead><tbody>
   {% for vpn in stats.complete.data %}
    <tr>
            <td>{{vpn.data.CountryLong}}</td>
	    <td><span class="flag-icon flag-icon-{{vpn.data.CountryShort|lower}}"></span></td>
	    <td>{{vpn.ipInfo.city}}</td>
            <td>{{vpn.result.parsed.perSecondRate}}</td>
            <td>{{vpn.data.IP}}</td>
            <td>{{vpn.data.proto}}</td>
            <td>{{vpn.duration}}</td>
    </tr>
   {% endfor %}
   </tbody></table>
  </div>

  <div id="vpnMapWrapper">
   <div id="vpn-map" style="position: relative; height: 360px; width: 98%;"></div>
  </div>


<script src='/js/index.js'></script>




{% endblock %}
